button {
  border: 0;
  border-radius: 15px;
  background: #9094f2;
  box-shadow: 0px 1px 10px 0px #252222;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 1rem 2rem;
  margin: 2rem;
  font-family: Futura, -apple-system, sans-serif;
  cursor: pointer;
  font-size: 18px;
  width: 190px;
}

button:focus {
  outline: none;
  border: 1px solid #6a6b92;
}

button:hover {
  box-shadow: 0px 1px 0px 0px #252222;
}

@media screen and (max-width: 500px) {
  button {
    font-size: 14px;
    width: 160px;
    margin: 2rem 5px;
  }
}
