.image {
  width: 400px;
  border-radius: 30px;
}

.true.right-eyebrow,
.true.left-eyebrow {
  animation: bounce 0.8s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
