h1 {
  margin: 40px 10px;
  font-weight: 800;
  line-height: 62px;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #fff;
  color: #4d52c5;
  animation: drop 0.5s ease-in;
}

@keyframes drop {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0);
  }
}
.favorite {
  animation: drop 1s ease-in;
}
